.table-role-container {
    .table100-head th {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
        width: 129px;
    }
    .column1 {
        width: 116px;
    }
    .column2 {
        width: 102px;
    }
    .column3 {
        width: 263px;
    }
    .column4 {
        width: 32px;
        text-align: center;
    }
}
