@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Poppins:wght@400;500;600;900&family=Roboto:wght@300;400;700&display=swap");

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;

    .logo-menu {
        text-align: center;
        height: 160px;

        .logo-img {
            padding: 30px 60px 30px;
            /* font-size: 49px; */
            height: 80%;
        }
    }

    .nav-bar {
        display: flex;
        width: 100%;
        .nav-bar--list {
            list-style-type: none;
            padding: 0;
            width: 100%;
            .nav-bar-drop-item {
                position: absolute;
                background: #fff;
                width: 200px;
                height: 144px;
                filter: drop-shadow(3px 3px 4px rgba(70, 64, 67, 0.1));
                border-radius: 12px;
                top: 59%;
                left: 16%;
                z-index: 1000;
                // display: flex;
                flex-direction: column;
                border: 1px solid rgb(210, 208, 208);
                
                .nav-bar--drop-item-link {
                    text-decoration: none;
                    color: #7f838f;
                    padding: 10px;
                    outline: none;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        background-color: #ff7506;
                        .nav-bar--item--link {
                            color: #fff;
                        }
                        
                    }
                }
            }

            .invisible {
                display: none;
            }
            .active {
                background-color: #ff7506;
                .nav-bar--item--link {
                    color: #fff !important;
                    position: relative;
                }
            }
            // .active-device {
            //     background-color: #ff7506;
            //     .nav-bar--item--link{
            //         color: #fff !important;
            //     }
            // }
            // .active-service {
            //     background-color: #ff7506;
            //     .nav-bar--item--link{
            //         color: #fff !important;
            //     }
            // }
            // .active-number {
            //     background-color: #ff7506;
            //     .nav-bar--item--link{
            //         color: #fff !important;
            //     }
            // }
            // .active-report {
            //     background-color: #ff7506;
            //     .nav-bar--item--link{
            //         color: #fff !important;
            //     }
            // }

            .nav-bar--item {
                padding: 17px 15px;
                width: 100%;
                &:hover {
                    cursor: pointer;
                    background-color: #ff7506;
                    .nav-bar--item--link {
                        color: #fff;
                    }
                    .invisible {
                        display: block !important;
                    }
                }

                .nav-bar--item--link {
                    font-size: 16px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-decoration: none;
                    color: #7e7d88;
                    &:hover {
                        .invisible {
                            display: block !important;
                        }
                    }
                    
                    .icon-link {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .log-out {
        text-align: center;
        width: 100%;
        margin-top: 65%;
        .btn-logout {
            background: #fff2e7;
            border-radius: 8px;
            color: #ff7506;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 24px;
            border: none;
            text-align: left;
            width: 85%;
            height: 55px;

            .icon-btn {
                margin-right: 25px;
                font-size: 25px;
            }
        }
    }
}
