.table-account-container {
    .column1 {
        
        text-align: center;
    }
    .column2 {
        
        text-align: center;
    }
    .column3 {
        
        text-align: center;
    }
    .column4 {
        
        text-align: center;
    }
    .column5 {
        
        text-align: center;
    }
    .column6 {
        
        text-align: center;
    }
    .column7 {
        
        text-align: center;
    }
}
