.table-report-container {
    .table100-head th {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
        width: 252px;
        text-align: center;
        
    }
    .column4 {
        text-align: center;
    }
    .column5 {
        text-align: center;
    }

    .blue {
        width: 18px;
        height: 8px;
        background: #2e37de;
        border-radius: 10px;
        
    }
}